@import "navBarDashboard";
@import "dashboardContent";
@import "dashboardContentBody";


.dashBoard{
    display: flex;
    width: 100%;
    .dashBoard__content{
        width: 80%;
        background-color: var(--background);
    }
}