.dashboard-header{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    position: relative;
    @include responsive(768px){
        flex-direction: column;
        
    }
    .header__title{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
        @include responsive(768px){
            margin-top: 0;
        }
        h1{
            margin:0;
            font-size: 30px;
            font-weight: 900;
        }
        p{
            font-size: 15px;
            font-weight: 300;
            margin-bottom: 25px;
        }
    }
    .header__content{
        background-color: var(--text);
        border-radius: 10px;
        color: white;
        padding: 25px;
        height: 210px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 130px;
        @include responsive(768px){
            
            margin-top: 50px;
        }
        p{
            width: 50%;
        }
    }
    img{
        width: 190px;
        position: absolute;
        top:0;
        right: 0;

        @include responsive(768px){
            width: 300px;
        }
        @include responsive(1000px){
            width: 417px;
        }
    }
}