@import "navBarDashboard";
@import "dashBoardContent";
@import "dashboardContentBody";


.dashBoard{
    display: flex;
    .dashBoard__content{
        width: 80%;
        background-color: var(--background);
    }
}