@import "navBarDashboard";
@import "dashboardContent";
@import "dashboardContentBody";


.dashBoard{
    display: flex;
    width: 100%;
    position: relative;
    .dashBoard__content{
        width: 100%;
        @include responsive(768px){

            width: 80%;
        }
        background-color: var(--background);
    }
}