.dashBoard__content__body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .dashBoard__content__body--left{
        width: 45%;
        min-width: 400px;
        .statistics{
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            .statistics__bulle__container{
                display: flex;
                justify-content: space-around;
                margin-top: 25px;
                p{
                    width: 70px;
                    height: 70px;
                    border-radius: 70px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    font-weight: 900;
                }
                .statistics__bulle--invoice{
                    background-color: var(--bgcInvoice);
                }
                .statistics__bulle--contact{
                    background-color: var(--bgcContact);
                }
                .statistics__bulle--companie{
                    background-color: var(--bgcCompanies);
                }
            }
        }
        .lastContact{
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
            h3{
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            .lastContact__table{
                width: 100%;
                margin-top: 20px;
                thead{
                    tr{
                        th{
                            text-align: start;
                            font-size: 15px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    .dashBoard__content__body--right{
        width: 45%;
        margin-bottom: 40px;
        min-width: 400px;
        .lastInvoice{
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            h3{
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            .lastInvoice__table{
                width: 100%;
                margin-top: 20px;
                thead{
                    tr{
                        th{
                            text-align: start;
                            font-size: 15px;
                            font-weight: 700;
                        }
                    }
                }
            }  
        }
        .lastCompanies{
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
            h3{
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            .lastCompanies__table{
                width: 100%;
                margin-top: 20px;
                thead{
                    tr{
                        th{
                            text-align: start;
                            font-size: 15px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}