footer {
    margin-top: 50px; 
    width: 80%;
    height: 300px;
 
   

    .footer-content {
        width: 100%;
        height: 80%;
        @extend .flexAroundCenter;
        border-top: 1px #f4d03f solid;
        border-bottom: 1px #c3c3c3 solid; 

        .about-section {
            width: 50%;

            p {
                margin: 5px;
            }
            .fa-location-dot, .fa-phone-flip, .fa-fax {
                color: #f4d03f;
                margin: 5px;
            }
        
            .fa-fax {
                margin-left: 150px;
            }

            .social-links {
                width: 100%;
                padding: 20px;
                @extend .flexAroundCenter;
                a {
                    color: #f4d03f;
                    margin: 5px;
                }
            }
        }    
    }
 
    .footer-bottom {
        width: 100%;
        @extend .flexAroundCenter;
        nav {
            width: 60%;
            ul {
                @extend .flexBetweenCenter;
                gap: 10px;
                a {
                    text-decoration-line: none;
                    color: #7b7b7b;
                }
                list-style-type: none;    
            }
        }
        .copyright {
            width: 40%;
            @extend .flexEndCenter;
        }
    }  
}   