@use "../extends/_extends_dir";



header {
    width: 100%; 
    min-height: 150px;
    background-color: #f9de4e;
    color: black;

    .top-content {
        width: 100%;
        padding: 10px;
        padding-top: 50px;
        @extend .flexAroundCenter;
        h2 {
            display: block;
            width: 30%;
            font-weight: bold;
            font-size: 900;
        }
        img {
            width: 50%;
        }
    }
    .bottom-content {
        width: 100%;
        @extend .flexAroundCenter;
        img { 
            width: 90%;
        }
    }

    .bottom-content-other-pages {
        position: relative;
        width: 100%;
        min-height: 200px;
        @extend .flexColumnCenterEnd;
        img { 
            position: relative;
            bottom: 0;
            width: 90%;
        }
    }
    @import "nav";
    
}