@use "../extends/_extends_dir";


header {
    width: 100%;
    background-color: #f9de4e;
    color: black;

    .top-content {
        width: 100%;
        margin: 10px;
        @extend .flexAroundCenter;
        h2 {
            display: block;
            width: 30%;
            font-weight: bold;
            font-size: 900;
        }
        img {
            width: 50%;
        }
    }

    @import "nav";
}