main {
  width: 100%;
  min-height: 100vh;
  @extend .flexColumnCenterCenter;
  .main__title{
    
      font-size: 60px;
      font-weight: 900;
      align-self: flex-start;
      margin-left: 100px ;
    &::after{
        content: "";
        display: block;
        width: 100%;
        height: 35px;
        background-color: #f4d03f;
        margin-top: -40px;
        margin-left: 25px;
        
    }
  }
  .main-content {
    font-weight: bold;
    font-size: 900;
    width: 80%;
    // height: 500px;

    table {
      width: 100%;
      border-collapse: collapse;
    }

    thead {
      width: 100%;
    }

    th,
    td {
      width: 10%;
      border: none;
      padding: 8px;
      text-align: left;
      a{
        text-decoration-line: none;
        color: black;
      }
    }

    th {
      background-color: #f4d03f;
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    .invoice-img {
      position: absolute;
      left: 90%;
    }
    .contact-img {
      position: absolute;
      right: 91%;
    }
  } 
   
  .bottom-content { 
    position: relative;
    width: 100%;
    height: 450px;
    @extend .flexEndCenter;
    overflow: hidden;
    
    .slogan {
      width: 20%;
    }
    h2 { 
     
      font-weight: bold;
      font-size: 900;
      text-align: left;
    } 
 
    .bottom-content-picture-div {
      width: 60%;
      position: relative;
      height: 250px;
      @extend .flexEndCenter;

      img {
        position: absolute;
      }
     .picture1 { 
      top: 20px; 
      z-index: 0;
     }  
     .picture2 {
      width: 480px;   
      top: -50px;
      left: 200px;
      z-index: 1;
     }
      
    }
  }
  .searchBar-section {
    width: 80%;
    height: 100px;
    @extend .flexEndCenter;

    input {
      padding: 10px;
      border-color: #ececec;
      border-radius: 10px;
    }
  }

  @import "pagination";


}