nav {
    position: fixed;
    background-color: #f9de4e;
    @extend .flexBetweenCenter;
    width:100%;
    z-index: 10;
    top: 0;

    ul {
        width: 30%;
        @extend .flexBetweenCenter;
        gap: 10px
    }

    .loginNav { 
        @extend .flexEndCenter;
        gap: 10px;
        width: 50%;
        padding: 10px;
        .sign-up {
            padding: 5px;
            border-radius: 10px;
            background-color: white;
            color: black;
        }
    }

    .dashboardLinkDiv {
        @extend .flexAroundCenter;
        gap: 10px;
        width: max-content;
    }

    .pictureNav {
        width: 30px;
        border-radius: 15px;
        border: 1px rgba(30, 30, 30, 0.344) ridge;
        cursor: pointer;
    }

    a {
        text-decoration-line: none;
        list-style-type: none;
        color: black;
        font-weight: bold;

        &:hover {
            color: rgb(56, 55, 55);
        }
    }
}

