.navBarLat{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 2;
    background-color: #fff;
    height: 100vh;
    width: 150px;
    border-right: 1px solid var(--borderDashBoardLight);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    @include responsive(768px){
        width: 20%;
        position: inherit;
        transform: translateX(0);
        transition: none;
    }
    .close{
        align-self: flex-end;
        margin-top: 10px;
        margin-right: 10px;
        cursor: pointer;
        @include responsive(768px){
            display: none;
        }
    }
    .navBarLat__logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        position: relative;
        button{
            display: none;
            position: absolute;
            font-size: 8px;
            right: 0;
            background-color: var(--text);
            border: none;
            color: #fff;
            padding:5px;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                background-color: #96C1D6;
                transform: scale(1.1);
            }
        }
        .isHovered{
            display: block;
        }
        img{
            width: 105px;
            border-radius: 200px;
        }
        p{
            font-size: 25px;
            font-weight: 900;
            text-align: center;
        }
    }
    .navBarLat__menu{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-top: 1px solid var(--borderDashBoardLight);
        border-bottom: 1px solid var(--borderDashBoardLight);
        padding-top: 10px;
        position: relative;
        
        ul{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            list-style: none;
            padding: 0;
            a{
                text-decoration: none;
                color: black;
                font-weight: 200;
            }
            
            li{
                font-size: 12px;
                @include responsive(768px){
                    
                    font-size: 20px;
                }
                font-weight: 200;
                display: flex;
                padding: 10px 0;
                img{
                    margin-right: 10px;
                }
            }
            .isActive{
                font-weight: 600;
            }
            .isActive::after{
                content: "";
                height: 30px;
                width: 4px;
                background-color: var(--text);
                position: absolute;
                right: 0;
            }
        }
    }
    .navBarLat__logout{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        
        a {
            text-decoration-line: none;
            color: black;
        }
        img{
            width: 48px;
            border-radius: 50px;
        }
        p{
            color: var(--text);
        }
    }
}
.navBarLat.hidden{
    transform: translateX(-100%);
    @include responsive(768px){
        transform: translateX(0);
    }
}
.navBarLat.visible{
    transform: translateX(0);
}

.fa-house {
    color: #9698D6;
    margin-right: 20px;
    size: 15px;
}