.notification {
    width: 300px;
    padding: 15px;
    border: 1px #f4d03f solid;
    border-radius: 15px;
    text-align: center;
    animation: NotifEntrance 2s ease 0s 1 normal forwards;
    color: white;
    
}

.error {
    background-color: tomato;
}

.success {
    background-color: lightgreen;
}

@keyframes NotifEntrance {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

@keyframes notifOut {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-50px);
	}
}