.pagination {
    width: 25%;
    @extend .flexAroundCenter;
    margin-top: 25px;

    .fa-chevron-left, .fa-chevron-right {
        color: #f4d03f;
        transition: 0.4s ease-in;
    }
    
    .btnPagination {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px black solid;
        border-radius: 5px;
        text-align: center;
        text-decoration-line: none;
        color: black;
        transition: 0.3s ease-in;
        background-color: #fff;
        cursor: pointer;
        
        &:hover {
            scale: 1.1;
            background-color: #f4d03f;
            color: black;
            .fa-chevron-left {
                color: black;
            }
            .fa-chevron-right {
                color: black;
            }
        }
    }
    .hide{
        border: none;
    }
    .hide:hover{
        background-color: #fff;
        cursor: default;
    }
    .pageActive{
        border:2px solid #f4d03f;
        color: #f4d03f;
    }
}