main::-webkit-scrollbar {
    width: 10px;
}
main::-webkit-scrollbar-track {
    background: var(--colorBackground);
}
main::-webkit-scrollbar-thumb {
    background-color: var(--colorText);
    border-radius: 20px;
    //border:solid 7px var(--colorBackground);
}
