:root {
    --background:#e7e7e7;

    --text: #9698D6;
    --text2:#2563eb;

    --borderDashBoardLight: #e0e0e0;

    --bgcInvoice : #4d4cac;
    --bgcContact : #9698D6;
    --bgcCompanies : #FF808B;
    --bgcInput : #f5f5f5;

    --bgcHr : #CDCDCD;
}
