.absoluteCenter {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.absoluteTopLeft {
    position:absolute;
    top:0;
    left:0;
}

.backgroundImageDefault {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pointer {
    cursor: pointer;
    transition:0.3s;
}