@import "base/_base_dir";
@import "fnc/_fnc_dir";
@import "design/_design_dir";
@import "components/_components_dir";

html {
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    font-family: Ubuntu;
    overflow-x: hidden;
    overflow-y: scroll;
    color: black;
    font-weight: 400;
}

